.Rproj.user
.Rhistory
.RData
RS_irrigation.Rproj
0.00_KML_converter.html
cache
1.10_makeValidationPoints.html
figure
1.20_validationPointsPostProcess.html
2.00_NASS_countyStats.html
3.00_NLDAS_annual_time_series.html
0.10_EEFluxTest.html
4.00_Figures_dummy.html
5.00_ConfusionTables_test1.html
1.16_trainingPoints_RRB.html
2.1_NASS_rsValidation.html
6.00_IrrigationTrends.html
5.01_ConfusionTables_test3_preInterannual.html
